[submodule "vendor/bashjazz/network"]
	path = vendor/bashjazz/network
	url = git@github.com:0rion3/bashjazz-network.git
[submodule "vendor/bashjazz/utils"]
	path = vendor/bashjazz/utils
	url = git@github.com:0rion3/bashjazz-utils.git
